#section-five-button {
    border-image: linear-gradient(to right,
            #00f0ff 0%,
            #5773ff 46.87%,
            #ff007a 100%);
    border-width: 1.5px;
    border-style: solid;
    border-image-slice: 1;
    border-radius: 10px !important;
    margin-top: 20px;
}