#navbar{
  transition-duration: .4s;
}

#register-button {
  border-image: linear-gradient(
    to right,
    #00f0ff 0%,
    #5773ff 46.87%,
    #ff007a 100%
  );
  border-width: 1px;
  border-style: solid;
  border-image-slice: 1;
  padding: 5px 20px;
  border-radius: 10px !important;
}
